.add-btn {
    margin-top: 20px;
    width: 20%;
    margin-left: 80%;
}

.invisible {
    display: none;
}

.test {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.test:last-child {
    margin-bottom: 20px;
}

.topic-block {
    border-right: 1px solid black;
    text-align: center;
}

.topic-block:last-child {
    border-right: none;
}

.topic-name:hover {
    text-decoration: underline;
}

.topic-text {
    word-wrap: break-word;
    width: 70%;
}

.topic-info {
    word-wrap: break-word;
    width: 10%;
}

.add-topic-form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-topic-form__textarea {
    width: 50%;
}

.add-topic-form__btn {
    width: 10%;
}

.error-div_topic {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.delete-topic-btn {
    margin-bottom: 10px;
}