.message-block {
    text-align: center;
}

.message-name {
    width: 70%;
}

.info {
    width: 30%;
}

.message {
    margin-top: 20px;
}

.add-message-btn {
    margin-top: 20px;
    width: 20%;
}