@{
    Layout = "~/Layouts/_BasicLayout.cshtml";
}

<section class="main-content flex-column flex-row">
    <div class="main-content__center flex-column flex-start" id="content">
        <div id="errorBox">
            <div class="error-div">
                К сожалению, что-то пошло не так. Мы работаем над этим.
            </div>
        </div>
    </div>
</section>