@{ 
    Layout = "~/Layouts/_BasicLayout.cshtml";
    Page.Title = "Форум. Основная страница.";
}

<section class="main-content flex-column flex-row" id="content">
    <div class="main-content__center flex-column flex-start">
        <button class="add-btn invisible">Добавить тему</button>
        <div class="test">
            123
        </div>
    </div>
</section>
