<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Styles/style.css" rel="stylesheet" />
    <link href="~/Styles/Registry-Form-Styles.css" rel="stylesheet" />
    <title>@Page.Title</title>
</head>
<body>
    <header class="page-header flex-column" id="header">
        <div>
            <span class="logo">Форум футбольных болельщиков</span>
        </div>
        <div>
            <a class="link" href="~/Pages/LogIn.cshtml">Вход/Регистрация</a>
            <a class="link" href="~/Index.cshtml">Форум</a>
            <a class="link">Правила</a>
        </div>
    </header>
    @RenderBody()
    @RenderPage("~/Partial Pages/_Footer.cshtml")
</body>
</html>
