@using EPAM.FootballForum.Common.Entities;
@using EPAM.FootballForum.Common.Dependencies;
@using EPAM.FootballForum.PL.Web.Models;
@{
    UserModel userModel = new UserModel();
    if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        string ID = Request.QueryString["userID"];
        int userID;
        Int32.TryParse(ID, out userID);
        User user = DependencyResolver.Instance.UserBLL.GetUser(userID);
        userModel.Login = user.Login;
        userModel.ID = user.ID;
    }
}

<header class="page-header flex-column" id="header">
    <div>
        <span class="logo">Форум футбольных болельщиков</span>
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
    {
        <div>
            <a class="link">Вы вошли как: @userModel.Login</a>
            <a class="link" href="~/Index.cshtml?userID= + @userModel.ID.ToString()">Форум</a>
            <a class="link">Пользователи</a>
            <a class="link">Правила</a>
            <a class="link">Личный кабинет</a>
            <a class="link" href="~/Pages/LogIn.cshtml?userID= + @userModel.ID.ToString()">Выйти</a>
        </div>
    }
    else
    {
        <div>
            <a class="link" href="~/Pages/LogIn.cshtml">Вход/Регистрация</a>
            <a class="link" href="~/Index.cshtml">Форум</a>
            <a class="link">Правила</a>
        </div>
    }
</header>